@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

.Pokemon *{
    font-family: 'Livvic', sans-serif;
}

.Pokemon-img{
    margin: 0 auto;
    display: block;
}

.Pokemon-info > *{
    text-align: center

}
