.Happy-sad {
  background-color: rgb(255, 117, 117);
}

.Happy-happy {
  background-color: rgb(255, 255, 161);
}

.Happy {
  height: 14em;
  width: 14em;
  margin: 20px auto;
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Happy-emoji {
  font-size: 10em;
}
