.Ball {
  padding: 0;
  margin: 0;
  background-color: tomato;
  color: white;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: inline-block;
  font-size: 3.5rem;
  text-align: center;
  vertical-align: middle;
}
