.Navbar{
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.Navbar-nav{
    color: red;
}

.Navbar-active{
    color: greenyellow;
}