.VendingMachine{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
    font-size: 30px;
}

.VendingMachine-machine{
    display: flex;
    text-align: right;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}


.VendingMachine ul{
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.VendingMachine-nav{
    color: red;
}

.VendingMachine-active{
    color: purple;
}
